<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="header">
        </div>
        <div class="student-detail" style="margin-top: 100px; text-transform: uppercase;">
            <table>
                <tr>
                    <td>NAME </td>
                    <td>:</td>
                    <td>
                        <%= employee?.employeeName%>
                    </td>
                </tr>
                <tr>
                    <td>degisnation</td>
                    <td>:</td>
                    <td><%= employee?.degisnation%></td>
                </tr>
                             
            </table>
        </div>
    </div>

    </div>
</body>
<script>

</script>

</html>